<h1>Privacy policy</h1>

<p>This app is intended to be used only by our family, though other individuals (significant others etc) may be added.
Please contact the admin directly to request that someone be added. Everyone else is unauthorized to use this site.
If you wish to be removed or have specific data deleted, contact the admin. I don't expect this to be a problem, but please
refrain from posting other users' personal information in e.g. gift descriptions.</p>