<% controller.redirect_to '/error/403' if @recipient == current_user %>

<h1>Gifts</h1>
<%# to do: improve this %>
<%= render partial: 'gifts/gifts_summary', locals: {gifts: @gifts, wish: @wish,
  recipient: @recipient, giver: @giver
} %>
